import { Component } from '@angular/core';
import { CommonModule } from '@angular/common';
import { RouterOutlet } from '@angular/router';
import { MatToolbarModule } from '@angular/material/toolbar';
import { MatButtonModule } from '@angular/material/button';
import { MatIconModule } from '@angular/material/icon';
import { MatSidenavModule } from '@angular/material/sidenav';
import { MatListModule } from '@angular/material/list';
{{#if localization}}
import { TranslateModule } from '@ngx-translate/core';
{{/if}}

@Component({
  selector: 'app-root',
  standalone: true,
  imports: [
    CommonModule,
    RouterOutlet,
    MatToolbarModule,
    MatButtonModule,
    MatIconModule,
    MatSidenavModule,
    MatListModule,
    {{#if localization}}
    TranslateModule,
    {{/if}}
  ],
  template: `
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #drawer class="sidenav" fixedInViewport
          [attr.role]="'navigation'"
          [mode]="'over'">
        <mat-toolbar>{{#if localization}}{{ 'MENU' | translate }}{{else}}Menu{{/if}}</mat-toolbar>
        <mat-nav-list>
          <a mat-list-item routerLink="/" 
             [attr.aria-label]="{{#if localization}}'HOME' | translate{{else}}'Home'{{/if}}">
            <mat-icon matListItemIcon>home</mat-icon>
            <span matListItemTitle>{{#if localization}}{{ 'HOME' | translate }}{{else}}Home{{/if}}</span>
          </a>
          {{#if (includes examples "dashboard")}}
          <a mat-list-item routerLink="/dashboard"
             [attr.aria-label]="{{#if localization}}'DASHBOARD' | translate{{else}}'Dashboard'{{/if}}">
            <mat-icon matListItemIcon>dashboard</mat-icon>
            <span matListItemTitle>{{#if localization}}{{ 'DASHBOARD' | translate }}{{else}}Dashboard{{/if}}</span>
          </a>
          {{/if}}
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <mat-toolbar color="primary">
          <button
            type="button"
            aria-label="{{#if localization}}{{ 'TOGGLE_SIDENAV' | translate }}{{else}}Toggle sidenav{{/if}}"
            mat-icon-button
            (click)="drawer.toggle()">
            <mat-icon aria-label="{{#if localization}}{{ 'SIDE_NAV_TOGGLE' | translate }}{{else}}Side nav toggle icon{{/if}}">menu</mat-icon>
          </button>
          <span class="toolbar-title">{{#if localization}}{{ 'APP_TITLE' | translate }}{{else}}{{projectName}}{{/if}}</span>
        </mat-toolbar>

        <main class="main-content" role="main">
          <router-outlet></router-outlet>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
  `,
  styles: [`
    .sidenav-container {
      height: 100vh;
    }

    .sidenav {
      width: 280px;
    }

    .sidenav .mat-toolbar {
      background: inherit;
    }

    .toolbar-title {
      margin-left: 16px;
    }

    .main-content {
      padding: 24px;
      min-height: calc(100vh - 64px);
    }

    @media (max-width: 768px) {
      .main-content {
        padding: 16px;
      }
    }
  `]
})
export class AppComponent {
  title = '{{projectName}}';
}